{% extends 'core/base-header-suscripcion.html' %}

{% load static %}
{% block extrahead %} <link rel="stylesheet" href="{% static 'core/css/suscripcion_1.css'%}"> {% endblock %}
{% block content %}
            
    <div class="container">
        <form action="." method="POST" id="step_one" class="suscripcion">
            {% csrf_token %}
            <h3 class="subtitle">Suscribete para que puedas disfrutar de Netflix!</h3>
            
                <p><br></p>
                <h5>Crea tu cuenta, solo debes escribir tu email, contraseña, crear un usuario y configurar tu tarjeta de credito y </h5>
                <br>
                <div id="input" class="col-md-12 text-center">
                    {{user_form.email.errors}}
                    {{user_form.email}}
                    <p></p>
                    {{user_form.password.errors}}
                    {{user_form.password}}
                    
                    <h3 class="config">Configura tu Usuario</h3>
                        {% comment %} Nombre {% endcomment %}
                        {{user_form.name.errors}}
                        {{user_form.name}}
                        <p></p>
                        {% comment %} Apellido {% endcomment %}
                        {{user_form.last_name.errors}}
                        {{user_form.last_name}}
                        <p></p>
                        {% comment %} Nombre de Usuario {% endcomment %}
                        {{user_form.user_name.errors}}
                        {{user_form.user_name}}
                        <p></p>
                        {% comment %} Edad {% endcomment %}
                        {{user_form.age.errors}}
                        {{user_form.age}}
                        <hr>
                        {% comment %} Sexo {% endcomment %}
                        <p>Sexo</p>
                        {{user_form.sex.errors}} 
                        {{user_form.sex}}
                        
        
                    <h3 class="config">Configura tu tarjeta de credito</h3>
                        <p></p>
                        {% comment %} Numero de tarjeta {% endcomment %}
                        {{card_form.id_credit_card.errors}}
                        {{card_form.id_credit_card}}
                        <p></p>
                        {% comment %} Fecha de Vencimiento {% endcomment %}
                        {{card_form.credit_card_date.errors}}
                        {{card_form.credit_card_date}}
                        <p></p>
                        {% comment %} Codigo de seguridad {% endcomment %}
                        {{card_form.safe_code.errors}}
                        {{card_form.safe_code}}
                        <p></p>
        </form>
                        
                        
                        <div class="col-md-12 text-center"> 
                            <button type="submit" id="boton_continuar" class="btn btn-secondary btn-lg">C O N T I N U A R</button>
                        </div>
                </div>

        </div>
{% endblock %}