{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Paso 2</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/95bdff4ff9.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{% static 'core/css/suspcripcion_2.css' %}">
</head>
<body>

    <header>
        <div class="col-md-12">
            <img class="center-block" id="main_logo" src="{% static 'core/img/logo.png' %}" alt="Netflix Logo">
        </div>
    </header>

        <div class="container">
            <h1 class="subtitle">Estas a pocos pasos de terminar tu suscripcion!</h2>
            <br>
            <form method="post" id="personForm" data-cities-url="{% url 'ajax_load_cities' %}">
                {% csrf_token %}    
            {{ ubication_form.as_table }}
            <div class="col-md-12 text-center">
                    <button type="submit" id="iniciar_membresia" class="btn btn-secondary btn-lg">INICIAR MEMBRESIA</button>
                </div>
            </form>

            <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
            <script>
                $("#id_country").change(function () {
                    const url = $("#personForm").attr("data-cities-url");  // get the url of the `load_cities` view
                    const countryId = $(this).val();  // get the selected country ID from the HTML input

                    $.ajax({                       // initialize an AJAX request
                        url: url,                    // set the url of the request (= /persons/ajax/load-cities/ )
                        data: {
                            'country_id': countryId       // add the country id to the GET parameters
                        },
                        success: function (data) {   // `data` is the return of the `load_cities` view function
                            $("#id_city").html(data);  // replace the contents of the city input with the data that came from the server
                            /*
                            let html_data = '<option value="">---------</option>';
                            data.forEach(function (city) {
                                html_data += `<option value="${city.id}">${city.name}</option>`
                            });
                            console.log(html_data);
                            $("#id_city").html(html_data);
                            */
                        }
                    });

                });
            </script>


                {% comment %} <h3>Tenemos el plan ideal para ti</h3>
                <div class="box_container">

                    <p class="box_info1">GOLD</p>
                    <p class="box_info2">PREMIUM</p>
                    <p class="box_info3">VIP</p>
                </div>

                <div class="row">
                    <div class="col-6 col-md-3" id="column_left">
                        <p class="row1">Precio mensual</p>
                    </div>
                    <div class="col-6 col-md-3">
                        <p id="monto">$8.99</p>
                    </div>
                    <div class="col-6 col-md-3">
                        <p id="monto">$12.99</p>
                    </div>
                    <div class="col-6 col-md-3" id="column_right">
                        <p id="monto">$15.99</p>
                    </div>
                </div>
                <div class="separator"></div>

                <div class="row">
                    <div class="col-6 col-md-3" id="column_left">
                        <p class="row1">HD Disponible</p>
                    </div>
                    <div class="col-6 col-md-3">
                        <p><i class="fas fa-times fa-lg"></i></p>
                    </div>
                    <div class="col-6 col-md-3">
                        <p><i class="fas fa-check fa-lg"></i></p>
                    </div>
                    <div class="col-6 col-md-3" id="column_right">
                        <p><i class="fas fa-check fa-lg"></i></p>
                    </div>
                </div>
                <div class="separator"></div>

                <div class="row">
                    <div class="col-6 col-md-3" id="column_left">
                        <p class="row1">Ultra HD Disponible</p>
                    </div>
                    <div class="col-6 col-md-3">
                        <p><i class="fas fa-times fa-lg"></i></i></p>
                    </div>
                    <div class="col-6 col-md-3">
                        <p><i class="fas fa-times fa-lg"></i></p>
                    </div>
                    <div class="col-6 col-md-3" id="column_right">
                        <p><i class="fas fa-check fa-lg"></i></p>
                    </div>
                </div>
                <div class="separator"></div>

                <div class="row">
                    <div class="col-6 col-lg-3" id="column_left">
                        <p class="row1">Peliculas ilimitadas</p>
                    </div>
                    <div class="col-6 col-md-3">
                        <p><i class="fas fa-times fa-lg"></i></p>
                    </div>
                    <div class="col-6 col-md-3">
                        <p><i class="fas fa-check fa-lg"></i></p>
                    </div>
                    <div class="col-6 col-md-3" id="column_right">
                        <p><i class="fas fa-check fa-lg"></i></p>
                    </div>
                </div>
                <div class="separator"></div>

                <div class="row">
                    <div class="col-6 col-lg-3" id="column_left">
                        <p class="row1 col-6-xl" id="cancelar_text">Cancela en cualquier momento</p>
                    </div>
                    <div class="col-6 col-md-3">
                        <p><i class="fas fa-check fa-lg"></i></i></p>
                    </div>
                    <div class="col-6 col-md-3">
                        <p><i class="fas fa-check fa-lg"></i></p>
                    </div>
                    <div class="col-6 col-md-3" id="column_right">
                        <p><i class="fas fa-check fa-lg"></i></p>
                    </div>
                </div>

                <div class="separator"></div>
                <div class="row">
                    <div class="col-6 col-lg-3" id="column_left">
                        <p class="row1">El primer mes gratis</p>
                    </div>
                    <div class="col-6 col-md-3">
                        <p><i class="fas fa-check fa-lg"></i></i></p>
                    </div>
                    <div class="col-6 col-md-3">
                        <p><i class="fas fa-check fa-lg"></i></p>
                    </div>
                    <div class="col-6 col-md-3" id="column_right">
                        <p><i class="fas fa-check fa-lg"></i></p>
                    </div>
                </div>
                <div class="separator"></div>

                <h3 class="plan_subtitle">Seleciona el plan que deseas</h3>               

                <div class="checkbox">
                                     
                    <label class="label_container">Gold
                        <input type="radio" name="radio" checked="checked" value="Gold">
                        <span class="checkmark"></span>
                    </label>
                    <label class="label_container">Premium
                        <input type="radio" name="radio" checked="checked" value="Premium">
                        <span class="checkmark"></span>
                    </label>
                    <label class="label_container">VIP
                        <input type="radio" name="radio" checked="checked" value="VIP">
                        <span class="checkmark"></span>
                    </label>

                
                </div>
                <div class="col-md-12 text-center">
                    <button type="submit" id="iniciar_membresia" class="btn btn-secondary btn-lg">INICIAR MEMBRESIA</button>
                </div>
            </form> {% endcomment %}
        </div>
    
</body>
</html>