{% extends 'core/base-header-suscripcion.html' %}

{% load static %}
{% block extrahead %} <link rel="stylesheet" href="{% static 'core/css/suscripcion_1.css'%}"> {% endblock %}
{% block content %}
            
    <div class="container">
        <form action="." method="POST" id="step_one" class="suscripcion">
            {% csrf_token %}
            <h3 class="subtitle">Suscribete para que puedas disfrutar de Netflix!</h3>
            
                <p><br></p>
                <h5>Crea tu cuenta, solo debes escribir tu email, contraseña configurar tu tarjeta de credito y crear un usuario</h5>
                
                <div id="input" class="col-md-12 text-center">

                    {{form.email}}
                    {{form.password}}

                    <h3 class="config">Configura tu tarjeta de credito</h3>

                        {{form.credit_card}}
                        {% comment %} 
                        <input type="text" name="fecha_vencimiento" id="f_vencimiento" placeholder="Fecha de Vencimiento (MM/AA)"><br>
                        <input type="text" name="codigo_seguridad" id="codigo_seguridad" placeholder="Codigo de Seguridad">      <br>               {% endcomment %}

                        <h3 class="config">Configura tu Usuario</h3>

                        {{form.name}}
                        {% comment %} <input type="text" name="lastname" id="apellido" placeholder="Apellido">
                        <input type="text" name="user_name" id="nombre_usuario" placeholder="Nombre de Usuario">
                        <input type="number" name="age" id="edad" placeholder="Edad">
                        <input type="text" name="sex" id="sex" placeholder="Sexo M, F o N/A"> {% endcomment %}

                        <div class="col-md-12 text-center"> 
                            <button type="submit" id="boton_continuar" class="btn btn-secondary btn-lg">C O N T I N U A R</button>
                        </div>
                </div>
        </form>

        </div>
{% endblock %}