{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>¿Quienes usarán Netflix</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'core/css/agregar_perfiles.css' %}">

</head>
<body>

    <header>
        <div class="col-md-12">
            <img class="center-block" id="main_logo" src="{% static 'core/img/logo.png' %}" alt="Netflix Logo">
        </div>
    </header>

    <div class="container">

        <h1>¿Quienes usarán Netflix?</h1>

        <div class="col-md-12 text-center input_container">
            <input type="text" name="nombre_perfil1" id="nombre_perfil" placeholder="Nombre del Perfil 1">
            <input type="text" name="nombre_perfil2" id="nombre_perfil" placeholder="Nombre del Perfil 2">
            <input type="text" name="nombre_perfil3" id="nombre_perfil" placeholder="Nombre del Perfil 3">
            <input type="text" name="nombre_perfil4" id="nombre_perfil" placeholder="Nombre del Perfil 4">
            <input type="text" name="nombre_perfil5" id="nombre_perfil" placeholder="Nombre del Perfil 5">
        </div>

        <div class="col-md-12 text-center">
            <button type="button" id="boton_continuar" class="btn btn-secondary btn-lg">CONTINUAR</button>
        </div>

    </div>
</body>
</html>